.hidden {
    display: none;
}

.textinput {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 5px solid white;
    background: transparent;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    
}

::placeholder {
    color: white;
}


#loginForm {
    position: absolute;
    top: 50%;
    left: 40%;
}