.hidden {
    display: none;
}

#loginInput {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 5px solid white;
    background: transparent;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

#todoInput {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 5px solid white;
    background: transparent;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    width: 400px;
}

::placeholder {
    color: white;
}


#loginForm {
    position: absolute;
    top: 50%;
    left: 40%;
}

#userPage {
    position: absolute;
    top: 40%;
    left: 40%;
}


#clock {
    color: white;
    font-size: x-large;
}

#quote {
    color: white;
    font-size: large;
}

#weather {
    color: white;
    font-size: large;
}

#greetings {
    color:white;
    font-size: xx-large;


}


#todoList {
    color:white;
    font-size: x-large;
}